*{
  font-family:inherit;
  padding:0;
  margin:0;
  box-sizing:border-box;
}

:root{
  --detail:#FCA311;
  --grey:#E5E5E5;
  --blue:#14213D;
}

:root.dark{
  --background:#000000;
  --text-color:#ffffff;
}
:root.light{
  --background:#ffffff;
  --text-color:#000000;
}

body{
  background:var(--background);
  color:var(--text-color);
  padding:16px;
}
