@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --detail: #fca311;
  --grey: #e5e5e5;
  --blue: #14213d;


  /* OLD COLOR */
  /* --label-text-color: #9ca3af; */
  --label-text-color: #49505b;
}

:root.dark {
  --background: #000000;
  --text-color: #ffffff;
  --cards-background: var(--blue);

  --pink: #b265c6;
  --red: #ff4468;

  --cross-color: var(--pink);
  --circle-color: var(--red);

  --theme-background: var(--red);
  --theme-switch: var(--pink);

  --button-shadow-color: var(--red);
  --button-background: var(--pink);
  --button-text-color: white;

  --input-background: white;
  --input-border-color: var(--red);
  --input-text-color: black;

  --game-icon-background: var(--pink);
  --game-icon-text-color: white;
  --game-icon-shadow-color: var(--red);

  --user-list-item-background: var(--red);
  --user-list-container-background: var(--pink);
  --user-list-text-color: white;

  --square-border: var(--pink);
}

:root.light {
  --background: var(--grey);
  --text-color: #000000;

  --light-blue: #00dcf5;
  --black: #252234;

  --cross-color: var(--light-blue);
  --circle-color: var(--black);

  --theme-background: var(--light-blue);
  --theme-switch: var(--black);

  --button-shadow-color: var(--light-blue);
  --button-background: var(--black);
  --button-text-color: white;

  --input-background: white;
  --input-border-color: var(--light-blue);
  --input-text-color: black;

  --game-icon-background: var(--black);
  --game-icon-text-color: white;
  --game-icon-shadow-color: var(--light-blue);

  --cards-background: var(--grey);

  --user-list-item-background: var(--blue);
  --user-list-container-background: var(--light-blue);
  --user-list-text-color: white;

  --square-border: var(--light-blue);
}

body {
  background: var(--background);
  color: var(--text-color);
  padding: 16px;

  display: grid;
  grid-template-rows: min-content 1fr;

  gap: 12px;
}

html,
body {
  height: 100%;
}

input {
  outline: none;
}