.gamesHub {
  display: flex;
  flex-direction: column;

  align-self: flex-start;
  place-content: flex-start;
  place-items: center;

  grid-row: span 1;
  height: auto;

  gap: 18px;
}

.gameIcon {
  display: flex;
  flex-direction: column;
  padding: 6px 18px;

  color: var(--game-icon-text-color);
  background: var(--game-icon-background);

  box-shadow: 5px 5px 0 var(--game-icon-shadow-color);

  place-content: center;
  place-items: center;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;

  grid-column: span 1;

  cursor: pointer;
}

.gameIcon svg {
  stroke: var(--game-icon-text-color);
  stroke-width: 1px;
  fill: none;
}

.gameSelection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 32px;
  gap: 18px;
}

.actions {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  width: 100%;
  grid-column: 1/-1;

  gap: 32px;
}

.actions h1 {
  display: flex;
  place-self: center;
  font-size: 16px;
}
