.tictactoe{
  display:flex;
  flex-direction: column;
  gap:6px;
}

.actions{
  display:flex;
  flex-direction: row;
  gap:24px;
}

.tttGame{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 300px;
  height: 300px;

  gap:12px;
}

.cell{
  display:flex;
  width:100%;
  height:auto;

  border:1px solid var(--game-icon-background);
  padding:6px;
}
.cross, .circle{
  color:lime;
  display: flex;
  width:100%;
  height:100%;
}

.cross{
  color:var(--cross-color);
}

.circle{
  color:var(--circle-color);
}

.winner{
  display: flex;

  flex-direction: column;

  gap:18px;

  place-content: space-between;
  place-items:center; 

}

.winner h1{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.winner span{
  font-size:24px;
}
