.userList {
  display: flex;

  flex-direction: column;

  gap: 12px;

  position: absolute;
  top: 50%;
  left: 0;

  padding: 12px;
  padding-left: 3px;

  border-radius: 0px 8px 8px 0px;

  font-size: 14px;

  color: var(--user-list-text-color);
  background: var(--user-list-container-background);
}

.userContainer {
  display: flex;
  flex-direction: row;

  place-items: center;
  place-content: space-between;
  gap: 6px;

  background: var(--user-list-item-background);

  width: 125px;
  padding: 3px 12px;
  border-radius: 18px;
  height: 30px;
}

.userContainer svg {
  height: 24px;
  stroke: gold;
  stroke-width: 1px;
  fill: none;
}
