.userList{
  display:flex;

  flex-direction: column;

  gap:12px;

  position: absolute;
  top:50%;
  left:0;

  padding:12px;
  padding-left: 3px;

  border-radius: 0px 8px 8px 0px;

  font-size:14px;

  color:black;
  background: white;
}

.userContainer{
  display: flex;
  flex-direction: row;

  place-items: center;
  gap:6px;
}

.userContainer svg{
  height:24px;
  stroke:gold;
  stroke-width: 1px;
  fill:none;
}

