.roomHub {
  display: grid;
  place-content: center;
  place-items: center;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  gap: 18px;
  height:auto;
  grid-row: span 1;
  overflow:hidden;
}
