.create {
  display: flex;
  flex-direction: column;
  gap: 12px;

  place-content: center;
  place-items: center;

  text-align: center;
}

.createRoom {
  font-size: 12px;
  transform: skewX(-16deg);
  width: 300px;
}

.create input {
  display: flex;
  padding: 6px;
  background-color: var(--input-background);
  font-weight: 500;

  color: var(--input-text-color);
  border: 3px solid var(--input-border-color);
}

.create span {
  font-size: 12px;
}
