.roomButton {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;

  letter-spacing: 1.5px;

  cursor: pointer;

  padding: 6px 18px;
  border: 0;

  text-transform: capitalize;
  font-weight: 600;
  background: var(--button-background);
  color: var(--button-text-color);

  box-shadow: 5px 5px 0 var(--button-shadow-color);
  font-size: 12px;
}
